*{
    padding: 0%;
    margin: 0%;
    scrollbar-width: none;
}
body{
    height: 100%;
    width: 100vw;
    place-items: center;
    flex-direction: column;
   background-image: url("bgg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
h2{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 30px;
}
.gradientbox{
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
    height: 60vh;
    width:60vw;
    /*border: 1px solid white;
    */background: linear-gradient(to right, #ffa601 , #f7de51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.btn_cover{
    margin: auto;
     margin-top: 10px;
    width: 60vw;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 0px 20px;
}
.gg_color{
    height: 80%;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.253);
    background: linear-gradient(to right, #ffa601 , #f7de51);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.buttonbox{
    margin: 10px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
#btn1,#btn2{
    /*padding: 10px 10px;
    */height: 30px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    font-weight: bolder;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    color: rgb(0, 0, 0);
    -webkit-border-radius: 10e;
}
.directions{
    margin-bottom: 2em;
}
#btn_right,#btn_left,#btn_up,#btn_down,#btn_r_t,#btn_r_b,#btn_l_t,#btn_l_b{
    height: 60px;
    aspect-ratio: 1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid black;
}
.gradientbox>h2{
    text-align: center;
    font-family: monospace;
    margin-bottom: 0.5em;
    font-weight: bolder;
    font-size: 15px;
}
.codebox{
    background-color: rgba(240, 248, 255, 0.226);
    height: 3em;
    width: 17em;
    /* border-left: 2px solid black; */
    padding: 2em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    font-weight: bold;
    font-family: monospace;
    font-size: 15px;
}

@media (max-width: 768px) {
    .gradientbox{
        width: 90%;
    }
    .btn_cover{
        width: 80%;
        height: 30px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .gg_color{
        width: 60%;
    }
    
}
@media (max-width:526px) {
.gg_color{
    width: 50%;
}    
.buttonbox{
    margin: auto;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
.directions{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#btn_right,#btn_left,#btn_up,#btn_down,#btn_r_t,#btn_r_b,#btn_l_t,#btn_l_b{
    /* height:40px; */
    aspect-ratio: 1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
    border: 1px solid black;
    margin: 3px;
}
}
